<form [formGroup]="form" (ngSubmit)="changePass()">
  <mat-form-field appearance="outline">
    <mat-label>Aktualne hasło</mat-label>
    <input type="password" matInput formControlName="oldPass">
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label>Nowe hasło</mat-label>
    <input type="password" matInput formControlName="newPass">
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label>Powtórz nowe hasło</mat-label>
    <input type="password" matInput formControlName="newPassRepeat">
    @if (form.errors?.['noMatch']) {
      <mat-error>Hasła muszą się zgadzać</mat-error>
    }
  </mat-form-field><br>
  <button mat-stroked-button>Zmień hasło</button><br>
  @if (error) {
    <p style="color: red;">{{error}}</p>
  }
</form>