<h1 mat-dialog-title>Zmiana hasła</h1>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="changePass()">
    <mat-form-field appearance="outline">
      <mat-label>Aktualne hasło</mat-label>
      <input type="password" matInput formControlName="oldPass">
      @if (form.hasError('wrongPass', "oldPass")) {
        <mat-error>Złe hasło</mat-error>
      }
      @if (form.hasError('required', 'oldPass')) {
        <mat-error>Wymagane</mat-error>
      }
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Nowe hasło</mat-label>
      <input type="password" matInput formControlName="newPass">
      @if (form.hasError('required', 'newPass')) {
        <mat-error>Wymagane</mat-error>
      }
    </mat-form-field><br>
    <mat-form-field appearance="outline">
      <mat-label>Powtórz nowe hasło</mat-label>
      <input type="password" matInput formControlName="newPassRepeat">
      @if (form.hasError('noMatch')) {
        <mat-error>Hasła muszą się zgadzać</mat-error>
      }
      @if (form.hasError('required', 'newPassRepeat')) {
        <mat-error>Wymagane</mat-error>
      }
    </mat-form-field><br>
    @if (error) {
      <p style="color: red;">{{error}}</p>
    }
    <button mat-stroked-button>Zmień hasło</button><br>
  </form>
</mat-dialog-content>
