<mat-toolbar color="accent">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <span>{{title.getTitle()}}</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button *ngIf="toolbar.menu" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>
<mat-menu #menu="matMenu">
    @for (item of toolbar.menu; track $index) {
        <button mat-menu-item *ngIf="item.check" (click)="toolbar.comp[item.fn]()">
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
            <span>{{item.title}}</span>
        </button>
    }
</mat-menu>
<mat-sidenav-container>
    <mat-sidenav #drawer mode="over" autoFocus="false">
        <mat-nav-list>
            @for (link of LINKS; track $index) {
                <mat-list-item [routerLink]="link.href" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
                    <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
                    <a matListItemTitle>{{link.title}}</a>
                </mat-list-item>
            }
            <mat-list-item (click)="goNormal()">
                <mat-icon matListItemIcon>close</mat-icon>
                <h4 matListItemTitle>Zakończ edycję</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>