<app-toolbar [drawer]="drawer"/>
<mat-sidenav-container>
    <mat-sidenav #drawer mode="over" autoFocus="false">
        <mat-nav-list>
            @for (link of LINKS; track $index) {
                <mat-list-item [routerLink]="link.href" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
                    <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
                    <a matListItemTitle>{{link.title}}</a>
                </mat-list-item>
            }
            <mat-list-item (click)="goNormal()">
                <mat-icon matListItemIcon>close</mat-icon>
                <h4 matListItemTitle>Zakończ edycję</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>