@if (loading) {
  <mat-spinner></mat-spinner>
}
@for (item of news; track item) {
  <mat-card>
    <mat-card-header>
      @if (item.pinned) {
        <mat-icon>push_pin</mat-icon>
      }
      <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content [innerHTML]="item.content">
    </mat-card-content>
    <mat-card-footer>
      <p>{{fullName(item)}} {{item.date | date:'d-LL-yyyy HH:mm'}}</p>
    </mat-card-footer>
  </mat-card>
}
@if (news.length == 0) {
  <mat-card>
    <p>
      Brak wiadomości.
    </p>
  </mat-card>
}
