<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngFor="let item of news">
    <mat-card-header>
        <mat-icon *ngIf="item.pinned">push_pin</mat-icon>
        <mat-card-title>{{item.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content [innerHTML]="item.content">
    </mat-card-content>
    <mat-card-footer>
        <p>{{item.date | date:'d-LL-yyyy HH:mm'}}</p>
    </mat-card-footer>
</mat-card>
<mat-card *ngIf="news.length == 0">
    <p>
        Brak wiadomości.
    </p>
</mat-card>