:host {
    display: flex;
    flex-direction: column;
}

mat-card {
    margin: 15px;
    padding: 1ch;
}

mat-spinner {
    align-self: center;
}

mat-card-title {
    font-size: 1.5rem;
}

mat-card-footer p {
    font-size: 0.8rem;
    color: #4a4a4a;
    margin-bottom: 0;
    text-align: end;
    @media (prefers-color-scheme: dark) {
        color: #999999
    }
}

mat-card-content p {
    white-space: pre-line;
}

mat-card p {
    margin: 15px;
}