<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{item.title}}
      </mat-card-title>
      <mat-card-subtitle>Wysłano {{item.sentDate.toFormat("cccc dd LLLL yyyyr. 'o' HH:mm")}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    @if (body) {
      <p>
        {{body}}
      </p>
    }
    <hr>
      <ul>
        @for (user of rcpts; track $index) {
          <li>
            @if (user.room) {
              <span>{{user.room}}: </span>
              }{{user.fname}} {{user.surname}} <span
            style="color: gray">({{user.uname}})</span>
          </li>
        }
      </ul>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        @if (!body) {
          <button mat-stroked-button (click)="getMessage()">Wczytaj treść</button>
        }
        @if (!rcpts) {
          <button mat-stroked-button (click)="getRcpts()">Wczytaj odbiorców</button>
        }
        @if (loading) {
          <mat-spinner diameter="32" color="accent"></mat-spinner>
        }
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>