<h1 mat-dialog-title>O programie</h1>
<mat-dialog-content>
    <h1>Projekt IPWA</h1>
    <h2>Stworzone z myślą o potrzebach internatu.</h2>
    <mat-action-list>
        @for (link of LINKS; track $index) {
            <a mat-list-item [href]="link.link" target="_blank">
                <mat-icon matListItemIcon>{{link.icon}}</mat-icon>
                <span matListItemTitle>{{link.title}}</span>
                <span matListItemLine>{{link.info}}</span>
            </a>
        }
    </mat-action-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>