<div id="guide">
  <p><b>Uwaga:</b> Obecność resetuje się o codziennie o 00:00</p>
  <div id="legend">
    <b>Legenda: </b>
    <span class="circle">Wychowanek obecny</span>
    <span class="circle">Wyjście w ciągu 30 min.</span>
    <span class="circle">Wychowanek nieobecny</span>
  </div>
</div>
<table mat-table [dataSource]="data" matSort>
  <div matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pokój</th>
    <td mat-cell *matCellDef="let item">{{item.room}}</td>
  </div>
  <div matColumnDef="hours">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Godziny</th>
    <td mat-cell *matCellDef="let item">@for (i of item.hours.sort().reverse(); track i; let isLast = $last) {
      <span><app-hour-display [value]="i"></app-hour-display>{{ isLast ? '' : ', '}}</span>
      }<span>{{item.notes}}</span></td>
    </div>
    <div matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Usuń</th>
      <td mat-cell *matCellDef="let item">@if (!item.auto) {
        <button mat-mini-fab class="error-color" (click)="delete(item.room)"><mat-icon>delete</mat-icon></button>
      }</td>
    </div>
    <tr mat-header-row *matHeaderRowDef="collumns"></tr>
    <tr mat-row *matRowDef="let rowData; columns: collumns"></tr>
  </table>
