<h1 mat-dialog-title>Import z pliku</h1>
<mat-dialog-content>
    <input type="file" name="menu" #fu style="display: none;" (change)="onFileChange($event)" accept=".xlsx,.ods,application/vnd.oasis.opendocument.spreadsheet">
    <button mat-raised-button color="accent" (click)="fu.click()">Wybierz plik</button>
    <div style="color: red;">
        <h1>UWAGA!</h1>
        <h3>Przed wysłaniem upewnij się że</h3>
        <ul>
            <li>Daty w pliku są prawidłowe i poprawnie sformatowane (DD.MM.RRRR)</li>
            <li>Wszystkie pozycje w menu są w osobnych linijkach</li>
            <li>Załączony dokument to arkusz w formacie XLSX lub ODS</li>
        </ul>
        <h2>Nie spełnienie któregokolwiek z tych wymagań może skutkować szkodami w programie!</h2>
        <h3>Późniejsza modyfikacja danych jest niemożliwa w tej wersji programu.</h3>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="warn" [disabled]="file == undefined" (click)="submit()">Wyślij</button>
    <button mat-button mat-dialog-close>Anuluj</button>
</mat-dialog-actions>