@if (!focused) {
  <ul>
    @for (item of _list; track item) {
      <li>
        @if (options) {
          {{idToOption(item)}}
        } @else {
          {{item}}
        }
      </li>
    }
    @empty {
      <li><i>[Kliknij aby edytować.]</i></li>
    }
  </ul>
}
@if (focused) {
  <div class="vertical">
    @if (workList.length === 0) {
      <button (click)="addPos(0)">+</button>
    }
    <div cdkDropList class="vertical" (cdkDropListDropped)="drop($event)">
      @for (item of workList; track $index) {
        <span cdkDrag>
          <input type="text" [(ngModel)]="workList[$index]" [attr.list]="dataList" (keyup.enter)="addPos($index)" (keyup.backspace)="autoRemPos($index)" #input>
          @if (dropdown) {
            <select [(ngModel)]="workList[$index]">
              @for (option of options; track option) {
                <option [value]="option.id" [selected]="option.id === item">{{option.text}}</option>
              }
            </select>
          }
          <button (click)="remPos($index)">-</button>
          <button (click)="addPos($index)">+</button>
        </span>
      }
    </div>
    <span>
      <button (click)="save()">Zapisz</button>
      <button (click)="cancel()">Anuluj</button>
    </span>
  </div>
}
