<h1 mat-dialog-title>Karta użytkownika</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Imię</mat-label>
        <input type="text" matInput formControlName="fname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nazwisko</mat-label>
        <input type="text" matInput formControlName="surname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Pokój</mat-label>
        <input type="text" matInput formControlName="room">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Grupy</mat-label>
        <mat-select multiple formControlName="groups">
          @for (item of adsyn.groups; track $index) {
            <mat-option [value]="item._id">{{item.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (data.type === 'edit') {
        <span>Data rejestracji:<br>{{regDate?.toFormat('D')}}</span>
      }
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nazwa użytkownika</mat-label>
        <input type="text" matInput required formControlName="uname">
      </mat-form-field>
      @if (data.type === "edit") {
        <button mat-stroked-button (click)="resetPass()">Resetuj hasło</button>
        @if (locked) {
          <button mat-stroked-button class="error-color" (click)="toggleLock(false)"><mat-icon>lock</mat-icon>Blokada ręczna</button>
        } @else {
          <button mat-stroked-button (click)="toggleLock(true)">Zablokuj konto</button>
        }
        @if (lockout) {
          <button mat-stroked-button class="error-color" (click)="disableLockout()"><mat-icon>lock_clock</mat-icon>Auto-Blokada</button>
        } @else {
          <button mat-stroked-button disabled>Auto-Blokada nieczynna</button>
        }
        @if (ls.permChecker("accs")) {
          <mat-form-field>
            <mat-label>Uprawnienia</mat-label>
            <mat-select multiple formControlName="flags">
              @if (ls.capCheck("news")) {
                <mat-option value="news">Wiadomości</mat-option>
              }
              @if (ls.capCheck("menu")) {
                <mat-option value="menu">Jadłospis</mat-option>
              }
              @if (ls.capCheck("notif")) {
                <mat-option value="notif">Powiadomienia</mat-option>
              }
              @if (ls.capCheck("groups")) {
                <mat-option value="groups">Grupy</mat-option>
              }
              <mat-option value="accs">Konta</mat-option>
              @if (ls.capCheck("key")) {
                <mat-option value="keys">Klucze</mat-option>
              }
              @if (ls.capCheck("clean")) {
                <mat-option value="grades">Czystość</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      }
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  @if (data.type === "edit") {
    <button mat-stroked-button class="error-color" style="margin-right: auto;" (click)="delete()">Usuń konto</button>
  }
  <button mat-stroked-button mat-dialog-close>Zamknij</button>
  <button mat-flat-button (click)="submit()">Zapisz</button>
  @if (loading) {
    <mat-spinner diameter="32"></mat-spinner>
  }
</mat-dialog-actions>
