<button mat-raised-button (click)="newPost()" color="accent">Nowy post</button>
@if (loading) {
  <mat-spinner></mat-spinner>
}
@for (item of news; track item) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{item.title}}</mat-card-title>
      @if (item.pinned) {
        <mat-icon>push_pin</mat-icon>
      }
      <mat-card-subtitle>{{item._id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [innerHTML]="item.formatted">
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab (click)="editPost(item)"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab (click)="pinToggle(item)"><mat-icon>push_pin</mat-icon></button>
      <button mat-mini-fab (click)="visibleToggle(item)">
        <div>
          @switch (item.visible) {
            @case (true) {
              <mat-icon>visibility</mat-icon>
            }
            @default {
              <mat-icon>visibility_off</mat-icon>
            }
          }
        </div>
      </button>
      <button mat-mini-fab (click)="delete(item._id)"><mat-icon>delete_forever</mat-icon></button>
    </mat-card-actions>
    <mat-card-footer>
      <p>{{item.date | date:'d-LL-yyyy HH:mm'}}</p>
    </mat-card-footer>
  </mat-card>
}
@if (news.length == 0) {
  <mat-card>
    <p>
      Brak wiadomości.
    </p>
  </mat-card>
}