<mat-accordion>
    <!-- #region Rooms-->
    <mat-expansion-panel>
        <!-- TODO: Make more ergonomic -->
        <mat-expansion-panel-header>
            <mat-panel-title>Pokoje</mat-panel-title>
            <mat-panel-description>Numery wszystkich pokoi</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Kliknij listę aby edytować</p>
        <app-list-editor [converter]="usettings.rooms" (edit)="saveRoom($event)"></app-list-editor>
    </mat-expansion-panel>
    <!-- #endregion -->
    <!-- #region Room grade reasons-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Powody nieczystości</mat-panel-title>
            <mat-panel-description>Za co są przyznawane oceny za czystość</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Kliknij listę aby edytować</p>
        <app-list-editor [list]="usettings.cleanThings" (edit)="saveCleanThings($event)"></app-list-editor>
    </mat-expansion-panel>
    <!-- #endregion -->
    <!-- #region Key rooms-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Sale z kluczami</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <app-list-editor [list]="usettings.keyrooms" (edit)="saveKeyrooms($event)"></app-list-editor>
    </mat-expansion-panel>
    <!-- #endregion -->
    <!-- #region Default menu items-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Domyślne wpisy jadłospisu</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <table>
            <caption>Domyślne wpisy w jadłospisie dla danych pozycji</caption>
            <thead>
                <tr>
                    <th>Śniadanie</th>
                    <th>Kolacja</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <app-list-editor [list]="usettings.menu.defaultItems.sn" (edit)="saveSn($event)"/>
                    </td>
                    <td>
                        <app-list-editor [list]="usettings.menu.defaultItems.kol" (edit)="saveKol($event)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-expansion-panel>
    <!-- #endregion -->
    <!-- #region Security-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Bezpieczeństwo</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group>
            <mat-tab label="Konta">
                <p>
                    Domyślne hasło użytkownika po wygenerowaniu konto to <code>pierwszelogowanie</code><br>
                    Reset hasła powoduje zmianę na <code>reset</code>
                </p>
                <form [formGroup]="accSec" (submit)="saveAccSecTimeouts()">
                    <p>Ograniczenia logowania</p>
                    <mat-form-field>
                        <mat-label>Dozwolone próby logowania</mat-label>
                        <input matInput type="number" formControlName="attempts">
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Okres liczenia prób</mat-label>
                        <input matInput type="number" formControlName="time">
                        <mat-hint>Podaj w minutach</mat-hint>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Czas blokady konta</mat-label>
                        <input matInput type="number" formControlName="lockout">
                        <mat-hint>Podaj w minutach</mat-hint>
                    </mat-form-field><br>
                    <button mat-flat-button>Zapisz</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-expansion-panel>
    <!-- #endregion -->
    <!-- #region Modules-->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Moduły</mat-panel-title>
            <mat-panel-description>Włączanie/Wyłączanie poszczególnych funkcji programu</mat-panel-description>
        </mat-expansion-panel-header>
        <form class="slide-form" [formGroup]="modules" (submit)="saveModules()">
            <mat-slide-toggle formControlName="news">Wiadomości</mat-slide-toggle>
            <mat-slide-toggle formControlName="menu">Jadłospis</mat-slide-toggle>
            <mat-slide-toggle formControlName="notif">Powiadomienia</mat-slide-toggle>
            <mat-slide-toggle formControlName="groups">Grupy</mat-slide-toggle>
            <mat-slide-toggle formControlName="clean">Czystość</mat-slide-toggle>
            <mat-slide-toggle formControlName="key">Klucze</mat-slide-toggle>
            <button mat-flat-button>Zapisz</button>
        </form>
    </mat-expansion-panel>
    <!-- #endregion -->
    <!-- #region Program control-->
    <mat-expansion-panel class="error-color">
        <mat-expansion-panel-header>
            <mat-panel-title>Sterowanie programem</mat-panel-title>
            <mat-panel-description>Zachowaj szczególną ostrożność przy tych ustawieniach!</mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <button mat-fab extended color="warn">
            <mat-icon>power_settings_new</mat-icon>
            Restart
        </button> -->
        <button mat-fab extended (click)="reloadSettings()">
            <mat-icon>refresh</mat-icon>
            Przeładuj ustawienia
        </button>
        <!-- <button mat-fab extended color="warn">
            <mat-icon>logout</mat-icon>
            Wyloguj wszystkich użytkowników
        </button> -->
    </mat-expansion-panel>
    <!-- #endregion -->
</mat-accordion>
