<div class="header">
  <div class="spacer"></div>
  <h1>Karta oceny</h1>
  @if (loading) {
    <mat-spinner diameter="40" class="spacer"/>
  } @else {
    <div class="spacer"></div>
  }
</div>
@for (item of items; track $index) {
<mat-divider></mat-divider>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{item.name | capitalize}}</mat-card-title>
    @if (item.controls.dirty) {
      <button mat-icon-button (click)="resetGroup(item)"><mat-icon>delete</mat-icon></button>
    }
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="item.controls">
      <app-star-control formControlName="rating"></app-star-control>
      <mat-chip-listbox multiple formControlName="tags">
        @for (opt of TAGS[item.type]; track $index) {
          <mat-chip-option>{{opt}}</mat-chip-option>
        }
      </mat-chip-listbox>
      <mat-form-field>
        <mat-label>Uwagi</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
}
<mat-divider></mat-divider>
<div class="actions">
  <button mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button>
  <span class="align-end">
    <button mat-icon-button (click)="save()"><mat-icon>send</mat-icon></button>
  </span>
</div>
