mat-form-field, textarea {
  width: 100%;
  height: fit-content;
}

div.actions {
  display: flex;
  align-items: center;
  margin-top: 1em;
  span.align-end {
    margin-left: auto;
  }
}

div.header {
  display: flex;
  align-items: center;

  .spacer {
    flex: 1;
  }

  h1 {
    flex: 2;
  }
}

mat-card-header {
  display: flex;
  align-items: center;
}
