#upper-bar {
    display: flex;
}

mat-form-field {
    flex-grow: 1;
}

button[mat-icon-button] {
    margin-left: 4pt;
    margin-right: 4pt;
    margin-top: 4pt;
}

.non-editable {
    color: gray;
    font-style: italic;
}