#bot-navigation {
    width: 100%;
}

#outlet {
    width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
}

#scrollable {
    overflow: auto;
    height: 100%;
    position: relative;
}

:host {
    width: 100%;
    @supports (-webkit-touch-callout: none) {
        height: 95vh;
    }
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
}