<div role="group" class="app-user-search-container" (focusin)="onFocusIn()" (focusout)="onFocusOut($event)">
  <input type="text" [matAutocomplete]="ac" [formControl]="control" #inputComponent class="input-element">
  @if (loading) {
    <mat-spinner diameter="16" matSuffix></mat-spinner>
  }
  <mat-autocomplete #ac="matAutocomplete" autoActiveFirstOption (optionSelected)="saveValue($event)" [displayWith]="displayFn">
    @for (item of list; track $index) {
      <mat-option [value]="item">
        <app-user-display [item]="item"/>
      </mat-option>
    }
</mat-autocomplete>
</div>
